
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: -100px;">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
        <div class="videoWrapper">
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/Ba5fqHENsoo?rel=0&autoplay=1&controls=0&loop=1&playlist=Ba5fqHENsoo&showinfo=0" frameborder="0" allowfullscreen="" ></iframe>
          </div>

              <!--  <video autoplay loop width="100%">
                 <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" width="1024" height="552" type="video/mp4">
                 Your browser does not support the video tag.
              </video> -->
          <div class="container">
            <div class="carousel-caption">
              <h1 id="cap-text">Find Your Next Adventure Today!</h1>
              <form class="form-wrapper cf" action="/search/?q=" method="get">
              <input id="johnson-input" type="text" placeholder="Where's your next adventure gonna be?" name="q">
              <button id="johnson-btn" type="submit">Search</button>
              </form>
              <!-- <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Date Them Now!</a></p> -->
            </div>
          </div>
        </div>
        <div class="item">
        <div class="videoWrapper">
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/QALNwcA3EQQ?rel=0&autoplay=1&controls=0&loop=1&playlist=QALNwcA3EQQ&showinfo=0" frameborder="0" allowfullscreen="" ></iframe>
          </div>
              <!--  <video autoplay loop width="100%">
                 <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" width="1024" height="552" type="video/mp4">
                 Your browser does not support the video tag.
              </video> -->
          <div class="container">
            <div class="carousel-caption">
              <h1 id="cap-text">Travel The World In Style! </h1>
              <form class="form-wrapper cf" action="/search/?q=" method="get">
              <input id="johnson-input" type="text" placeholder="Where's your next adventure gonna be?" name="q">
              <button id="johnson-btn" type="submit">Search</button>
              </form>
 

              <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Try Raz's Cooking Today!</a></p> -->
            </div>
          </div>
        </div>
        <div class="item">
        <div class="videoWrapper">
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/49z9b2lgB6k?rel=0&autoplay=1&controls=0&loop=1&playlist=49z9b2lgB6k&showinfo=0" frameborder="0" allowfullscreen="" ></iframe>
          </div>
              <!--  <video autoplay loop width="100%">
                 <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" width="1024" height="552" type="video/mp4">
                 Your browser does not support the video tag.
              </video> -->
          <div class="container">
            <div class="carousel-caption">
              <h1 id="cap-text">Raz & Kevin Will Rock You!</h1>
              <div>
              <form class="form-wrapper cf" action="/search/?q=" method="get">
              <input id="johnson-input" type="text" placeholder="Where's your next adventure gonna be?" name="q">
              <button id="johnson-btn" type="submit">Search</button>
              </form>
              </div>
             <!--  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign Up Now!</a></p> -->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


<!-- ========================================================================= -->
<!-- 
<form id="searchForm" action="/search/?q=" method="get"><input class="nice_search" type="text" name="q" placeholder="Search...">
 <input class="nice_submit" type="submit" value="SEARCH"></form>

<script type="text/javascript">
 $('#searchForm').submit(function(e){
   e.preventDefault();
   var search = $('.nice_search').val();
   var url = $(this).attr('action');
   //alert('search='+search+ ' url='+url);
   window.location.href = url+search;
});

</script>

<br> -->


<p id="notice"><%= notice %></p>

<!-- <h1>Listing Listings</h1>

<%= will_paginate @listings %> <br>
<table width=100%>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pictures</th>
      <th>Price/Night</th>
      <th>Home type</th>
      <th>Room type</th>
      <th>Accommodates</th>
      <th>Address</th>
      <th>City</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.name %></td>
        <% if listing.listingpics.blank? == true %>
        <td>No Pics Available</td>
        <% else %>
        <td><% listing.listingpics.each do |listingpic| %>
        <%= image_tag listingpic.url(:thumb).to_s, class: "img-rounded" %><b>
        <% end %>
        </td>
        <% end %>
        <td><%= listing.price_per_night %></td>
        <td><%= listing.home_type %></td>
        <td><%= listing.room_type %></td>
        <td><%= listing.accommodates %></td>
        <td><%= listing.address %></td>
        <td><%= listing.city %></td>
        <% if listing.user.profile != nil %>
        <td><%= image_tag listing.user.profile.profile_pic_url(:thumb).to_s, class: "img-circle" %><%= link_to "#{listing.user.profile.name}", profile_path(listing.user.profile.id) %></td>
        <% else %>
        <td><%= listing.user.email %></td>
        <% end %>
        <td><%= link_to 'Show', listing %></td>
         <% if listing.user == current_user %>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @listings %> <br>

<br>

<%= link_to 'New Listing', new_listing_path %> -->

<div class="jumbotron" style="margin-top: -20px;">
  <h1>Listings</h1>
</form>
</div>

<div class="container">
<h3 style="text-align: right"><%= link_to 'Create New Listing', new_listing_path, class:"btn btn-info pull-left" %><%= will_paginate @listings %></h3>
</div>
<div class="container-fluid"><br><br></div>
<div class="container">

 <% @listings.each do |listing| %>
   <div class="row"><!-- Full Row -->      
     <div class="col-lg-5"><!-- Picture Box-->
     <% if listing.listingpics.blank? == true %>
     <p>No Pics Available</p>
     <% else %>
       <%= image_tag listing.listingpics.first.url(:mid).to_s, class: 'img-responsive' %>
     <% end %>
     </div><!-- End Picture Box -->
     <div class="col-lg-5"><!-- Info Box -->
       <h3><%= link_to "#{listing.name}", listing %></h3>
       <p><strong>Home type:</strong> <%= listing.home_type %></p>
       <p><strong>Room type:</strong> <%= listing.room_type %></p>
       <p><strong>Accomodates:</strong> <%= listing.accommodates %></p>
       <p><strong>Address:</strong> <%= listing.address %></p>
       <p><strong>City:</strong> <%= listing.city %></p>
     </div><!-- End Info Box -->
     <div class="col-lg-2"><!-- User Box -->
       <p>Posted by:</p>
       <p><%= image_tag listing.user.profile.profile_pic_url(:thumb).to_s, class:"img-circle" %> <%= link_to "#{listing.user.profile.name}", profile_path(listing.user.profile) %></p>
       <% if listing.user == current_user %>
         <p>
           <%= link_to 'Edit', edit_listing_path(listing), class:"btn btn-warning" %>
           <%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
         </p>
       <% end %>   
       <p class="lead"><strong>Price/Night:</strong><br><span class="label label-success"><%= listing.price_per_night %> USD </span></p>      
     </div><!-- End User Box -->
     <hr>
   </div><!-- End Full Row -->
   <hr>
 <% end %>
<h3 style="text-align: right"><%= link_to 'Create New Listing', new_listing_path, class:"btn btn-info pull-left" %><%= will_paginate @listings %></h3> <br>
</div>
<div class="container-fluid"><br><br></div>
