<% unless notice.blank? %>
<div class="alert alert-success" role="alert">
<p id="notice"><%= notice %></p>
</div>
<%end%>

<% if @listing.listingpics.blank? == true %>
 <h2>No Pictures Available</h2>
 <% else %>

<div class="carousel slide" id="screenshot-carousel" data-rise="carousel" style="margin-top: -100px;"><!-- Variable Carousel -->
       <ol class="carousel-indicators">
         <% @listing.listingpics.each_with_index do |listingpic, index| %>
           <% if index == 0 %>
             <li data-target="screenshot-carousel" data-slide-to="#{index}" class="active"></li>            
           <% else %>
             <li data-target="screenshot-carousel" data-slide-to="#{index}"></li>
           <% end %>
         <% end %>
       </ol>
       <div class="carousel-inner">
         <% @listing.listingpics.each_with_index do |listingpic, index| %>
           <% if index == 0 %>
             <div class="item active">
            
               <%= image_tag listingpic.url(:full).to_s, class: "picpic" %>
            
             </div>
           <% else %>
             <div class="item">
             
               <%= image_tag listingpic.url(:full).to_s, class: "picpic" %>
            
             </div>
           <% end %>            
         <% end %>
       </div>
       <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left"></span>
       </a>
       <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right"></span>
       </a>
     </div><!-- End Variable Carousel -->


<% end %>
<div style="background: black;">
<p style="display: inline-flex;" class="container">
  <% @listing.listingpics.each do |listingpic| %>
  <%= image_tag listingpic.url(:mid).to_s, class: "img-rounded" %>
  <% end %>
</p>
</div>
<!-- 

 <% if @listing.listingpics.blank? == true %>
 <h2>No Pictures Available</h2>
 <% else %>
 <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
      <!-- Indicators -->
    <!--   <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
      <div class="item active">
          <%= image_tag @listing.listingpics[0].url(:full).to_s, class: "img-rounded" %>
      </div>


       <% @listing.listingpics.each do |listingpic| %>
        <div class="item">
          <%= image_tag listingpic.url(:full).to_s, class: "img-rounded" %>
        </div>
        <%end%>
       
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> -->
    <!-- /.carousel -->

<!-- <%end%> -->

<div class="container">
<div class="jumbotron">
 
<h1><%= @listing.name %></h1> 
<br>

<p class="lead">
  <strong>Home type:</strong>
  <%= @listing.home_type %>
</p>

<p class="lead">
  <strong>Room type:</strong>
  <%= @listing.room_type %>
</p>

<p class="lead">
  <strong>Accommodates:</strong>
  <%= @listing.accommodates %>
</p>

<p class="lead">
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p class="lead">
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p class="lead">
  <strong>User:</strong>
  <%= @listing.user.email %>
</p>

<p class="lead">
  <strong>Price Per Night:</strong>
  <%= @listing.price_per_night %>
</p>


<% if @listing.user == current_user %>
<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-warning" %> |
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-primary" %>
<div class="pull-right">
<%= link_to 'Make A Reservation', new_reservation_path(:listing_id => @listing.id), class: "btn btn-success" %>
</div>
</div>
</div>


<div class="container">
<table width="100%">
  <thead>
    <tr>
      <th>ID </th>
      <th>Reservations</th>
      <th>Duration</th>
      <th style="text-align: right">Check In Date</th>
      <th style="text-align: right">Check Out Date</th>
    </tr>
  </thead>

  <tbody>
    <% if @listing_reservations.empty? %>
    <tr>
    <td colspan="5" style="text-align: center"><h2><span class="label label-danger"> No reservations yet</span></h2></td>
    </tr>
    <tr>
    <td><h2> </h2>   
    </td>
    </tr>
    <tr>
    <td colspan="5" style="text-align: center">
    <%= link_to 'Be The First To Book This Awesome Place!', new_reservation_path(:listing_id => @listing.id), class: "btn btn-lg btn-success" %>
    </td>
    </tr>
    <% else %>

    <% @listing_reservations.each.with_index do |booking, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <% if booking.user.profile.blank? %>
        <td><%= booking.user.email %></td>
        <% else %>
        <td><%= image_tag booking.user.profile.profile_pic.url(:thumb).to_s, class: "img-rounded" %> <%= booking.user.profile.name %></td>
        <%end%>
        <td><h4><span class="label label-danger"><%= (booking.checkout - booking.checkin).to_i.to_s + " Day (s) " %></span></h4></td>
        <td style="text-align: right"><h4><span class="label label-success"><%= booking.checkin %></span></td>
        <td style="text-align: right"><h4><span class="label label-warning"><%=  booking.checkout %></span></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<!-- 
<br>
<p>
  <strong> Reservations:</strong>
  <% @listing.reservations.each.with_index do |booking, index| %>
  <p><%= index + 1 %>  From:  <%= booking.checkin %>   To:  <%=  booking.checkout %>   -- Booked By: <%= booking.user.profile.name %>  

  <% if current_user == booking.user %>
  <%= link_to 'Destroy', reservation_path(:id => booking.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end%>
  </p>
  <% end %>
</p> -->
</div>

<br>
<br>
<br>


<!-- 

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Home type:</strong>
  <%= @listing.home_type %>
</p>

<p>
  <strong>Room type:</strong>
  <%= @listing.room_type %>
</p>

<p>
  <strong>Accommodates:</strong>
  <%= @listing.accommodates %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user.email %>
</p>

<p>
  <strong>Price Per Night:</strong>
  <%= @listing.price_per_night %>
</p> -->
<!-- 
 <% if @listing.listingpics.blank? == true %>
 <h2>No Pictures Available</h2>
 <% else %>

<div class="carousel slide" id="screenshot-carousel" data-rise="carousel"> -->

<!-- Variable Carousel -->
     <!--   <ol class="carousel-indicators">
         <% @listing.listingpics.each_with_index do |listingpic, index| %>
           <% if index == 0 %>
             <li data-target="screenshot-carousel" data-slide-to="#{index}" class="active"></li>            
           <% else %>
             <li data-target="screenshot-carousel" data-slide-to="#{index}"></li>
           <% end %>
         <% end %>
       </ol>
       <div class="carousel-inner">
         <% @listing.listingpics.each_with_index do |listingpic, index| %>
           <% if index == 0 %>
             <div class="item active">
               <%= image_tag listingpic.url(:full).to_s %>
             </div>
           <% else %>
             <div class="item">
               <%= image_tag listingpic.url(:full).to_s %>
             </div>
           <% end %>            
         <% end %>
       </div>
       <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left"></span>
       </a>
       <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right"></span>
       </a>
     </div> -->
     <!-- End Variable Carousel -->

<!-- <% end %> -->

<!-- <p>
  <strong> Reservations:</strong>
  <% @listing.reservations.each.with_index do |booking, index| %>
  <p><%= index + 1 %>  From:  <%= booking.checkin %>   To:  <%=  booking.checkout %>   -- Booked By: <%= booking.user.profile.name %>  

  <% if current_user == booking.user %>
  <%= link_to 'Destroy', reservation_path(:id => booking.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end%>
  </p>
  <% end %>
</p> -->

<!--  <% if @listing.user == current_user %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<%= link_to 'Back', listings_path %>
<br>
<%= link_to 'Make A Reservation', new_reservation_path(:listing_id => @listing.id) %> -->

