<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div>
    <%= image_tag Listing.find(@listing_id).listingpics.first.url(:mid).to_s, class: "img-rounded img-responsive" %>
  </div>
    <div>
    <h2><%= Listing.find(@listing_id).name %></h2>
  </div>

  <div class="field">
    <%= f.label :checkin %><br>
    <%= f.date_field :checkin, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :checkout %><br>
    <%= f.date_field :checkout, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :specialrequests %><br>
    <%= f.text_area :specialrequests, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :listing_id, value: @listing_id %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Confirm Reservation", class: "btn btn-success" %>
  </div>
  <div class="pull-right" style="margin-right: 0%">
  <%= link_to 'Back To All Listings' , listings_index_path, class: "btn btn-warning" %>
  </div>
<% end %>
