
<div class="jumbotron">
<p id="notice"><%= notice %></p>

<h1>All Reservations</h1>

<div class="table-responsive">
<table width="100%" class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Checkin</th>
      <th>Checkout</th>
      <th>Special Requests</th>
      <th>Listing Owner</th>
      <th>Reserved By</th>
      <th>Listing</th>
      <th>Duration</th>
      <th>Total Cost</th>
      <th>Payment Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.checkin %></td>
        <td><%= reservation.checkout %></td>
        <td><%= reservation.specialrequests %></td>
        <td><%= image_tag reservation.listing.user.profile.profile_pic.url(:thumb).to_s, class: "img-rounded" %> <%= reservation.listing.user.profile.name %></td>
        <td><%= image_tag reservation.user.profile.profile_pic.url(:thumb).to_s, class: "img-rounded" %> <%= reservation.user.profile.name %></td>
        <td><%= image_tag reservation.listing.listingpics.first.url(:thumb).to_s, class: "img-rounded" %> <%= link_to "#{reservation.listing.name}", listing_path(reservation.listing.id) %></td>
        <td class="lead" style="text-align: center"><span class="label label-success"><%= (reservation.checkout - reservation.checkin).to_i %> Day (s)</span></td>
        <td class="lead" style="text-align: center"><span class="label label-primary">$<%= reservation.total_price %> USD</span> </td>
        <% if reservation.transactions.where(status: :authorized).blank? %>
        <td style="text-align: center"><%= link_to '<button class="btn btn-danger" type="button">Pay Now</button>'.html_safe , new_transaction_path + "?id=" + reservation.id.to_s %> </td>
        <% else %>
        <td class="lead" style="text-align: center"><span class="label label-success"> PAID </span></td>
        <% end %>
        <td><%= link_to 'Show', reservation, class: "btn btn-info" %></td>
        <td><%= link_to 'Delete', reservation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<div class="pull-right" style="margin-right: 1%">
<%= link_to 'All Listings' , listings_index_path, class: "btn btn-danger" %>
<br>
</div>

</div>

