<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<!-- <div class="navbar-wrapper">
      <div class="container"> -->

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"> KevRazJohn BnB </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><%= link_to "All Listings", listings_index_path, method: :get %></li>
                <% if signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Account <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <% if current_user.profile == nil %>
                    <li><%= link_to 'New Profile', new_profile_path %></li>
                    <% else %>
                    <li><%= link_to 'Your Profile', profile_path(current_user.profile.id) %></li>
                    <% end %>
                    <li><%= link_to "Your Listings", user_listings_path(current_user.id) %></li>
                    <li><%= link_to "Your Reservations", user_reservations_path(current_user.id) %></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Unpaid Reservations</li>
                    <li><a href="#">Reservation 1</a></li>
                    <li><a href="#">Reservation 2</a></li>
                    </ul>  
                </li>
                <% end %> 
                <li><a href="#contact">About Us</a></li>
              </ul>
              

          <ul class="nav navbar-nav navbar-right">
          <% if signed_in? -%>
          <li>
          <% if current_user.profile == nil %>
          <a class="navbar-brand">Welcome <%= current_user.email %>! </a>
          <% else %>
          <a class="navbar-brand">Welcome <%= current_user.profile.name %>! </a>
          <% end %>
          </li>
          <li>
          <% if current_user.profile != nil %>
          <%= image_tag current_user.profile.profile_pic.url(:thumb).to_s, class: "img-circle" %> 
          <% end %>
          </li>
          <li><p> ||  </p>  
          </li>
          <li>
          <%= link_to ("Sign Out"), sign_out_path, method: :delete  %>
          </li>
          <li>
          <!-- <li>
          <div><%= button_to t(".sign_out"), sign_out_path, method: :delete, class: "btn btn-success" %></div>
          </li> -->
          <% else -%>
          <li>
          <div class="navbar-right">
          <form method="get" action="/sign_up">
          <button class="btn btn-success" type="submit">Sign Up</button>
          </form>
          </div>
          </li>

          <% end -%>

          </ul>




             
<!--               <form class="navbar-form navbar-right">

            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
 -->

          <!-- <div class="navbar-form navbar-right"> -->




            </div>
          </div>
        </nav>

<!--       </div>
    </div> -->




  <%= yield %>

    <div id="header">
    <% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type='text/javascript' src="/app/assets/javascripts/application.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
</body>
</html>
